@font-face {
    font-family: gotham;
    src: url(../font/gotham-rounded/GothamRoundedBook_21018.ttf);
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: gotham-lite;
    src: url(../font/gotham-rounded/GothamRoundedLight_21020.ttf);
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: gotham-md;
    src: url(../font/gotham-rounded/GothamRoundedMedium_21022.ttf);
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: gothambold;
    src: url(../font/gotham-rounded/GothamRoundedBold_21016.ttf);
    font-style: normal;
    font-display: auto;
}

* {font-family: gotham;}

body {padding-top: 115px;}

header {background-color: white;}

footer {background-color: #004c97; color: #fff; list-style: none;}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}

.btn-close:hover::after {
        display: block;
        content: '';
        width: 100;
        height: 2px;
        background: #ff8200;
        position: relative;
        bottom: -14px;
        left: 0;
}

.color {color: #004c97 !important;}

.topup {color: #ff3381 !important;}

#globalselector {
    background-color: #004c97;
    color: #fff !important;
    font-size: 11px;
}

#personal {background-color: #ff8200; font-family: gotham;}
#globalselector a:hover { font-weight: bolder;}

.globaltopnavselect {color: #fff !important;}

.topup :link {color: #ff3381 !important;}
.topup :visited {color: #ff3381 !important;}
.topup :hover {color: #004c97 !important;}

#navbarSupportedContent {height: 102vh;}
#navbarSupportedContent {width: 85vw;}

.notice_banner {
    background-color: #f8f8f8;
    color: #004c97;
    font-size: 14px;
}

.notice_banner :visited {color: #004c97;}
.notice_banner :hover {text-decoration: underline;}

.offcanvas-title {color: #004c97; font-family: gothambold;}

.globalfooternav a{color: #fff;}
.globalfooternav a:hover {color: #fff; text-decoration: underline;}

#storecall {font-size: 13px;}

.extremelowfooter {
    font-size: 11px;
}

#socials li {list-style: none; display: inline;}


/* contents found in the images folder */
.hambtn {
    background-image: url("../images/list-icon-hamburger-menu.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 32px;
    height: 32px;
}

.globalnavlogo {
    background-image: url("../images/gtt_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 52px;
    height: 40px;
    top: 0;
}

/* template
.globalnavlogo {
    background-image: url("../images/gtt_logo.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 70px;
    height: 50px;
}*/


.chevronright {
    content: url(../images/chevron-right.svg);
    width: 10px;
    height: 10px;
    margin-bottom: -1px;
}

.person-fill {
    content: url(../images/account-person-fill.svg);
    width: 32px;
    height: 32px;
}

.ytlogo {
    content: url(../images/yt-logo-icon.svg);
    width: 16px;
    height: 16px;
}

.fblogo {
    content: url(../images/fb_logo.svg);
    width: 16px;
    height: 16px;
}

.iglogo {
    content: url(../images/Instagram_Glyph_White.svg);
    width: 16px;
    height: 16px;
}

.footerlogo {
    content: url(../images/GTT-logo-white.png);
    width: 57px;
    height: 45px;
}


.fill-red:hover {
    fill: red;
}



/*x-small devices (portrait phones, less than 576px)*/
/*no media query for 'xs' since tis is the default in Bootstrap*/

/* small devices (landscape phones 576px and up)*/
@media (min-width: 576x) {
}

/*medium devices (tablets , 768px and up)*/
@media (min-width: 768px) {
}

/*large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .color:hover::after {
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #ff8200;
        position: relative;
        bottom: 0;
        left: 0;
       }
}

/*x-large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/*xx-large devices (larger desktops -and tv's- , 1400px and up)*/
@media (min-width: 1400px) {
}