@font-face {
    font-family: gotham;
    src: url(../font/gotham-rounded/GothamRoundedBook_21018.ttf);
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: gotham-lite;
    src: url(../font/gotham-rounded/GothamRoundedLight_21020.ttf);
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: gotham-md;
    src: url(../font/gotham-rounded/GothamRoundedMedium_21022.ttf);
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: gothambold;
    src: url(../font/gotham-rounded/GothamRoundedBold_21016.ttf);
    font-style: normal;
    font-display: auto;
}

/*---reset---*/
* {
    font-family: gotham;
    list-style: none;
}

a:link,
    a:visited,
        a:active {
            text-decoration: none;
}

* footer {
    font-size: 14px;
}
/*--------------------*/

/*---navigation bar---*/
.globalnavico {
    fill: #000000c9;
    width: 32px;
    height: 32px;
}

.gttlogocolour {
    background-image: url("../images/gtt_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 52px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#indexslct {
    background-color: #004c97;
    font-size: 11px;
}

#personal {
    color: #fff !important;
    background-color: #ff8200;
}

#global-nav {
    background-color: #fff;
}

.offcanvas-title {
    color: #004c97; font-family: gothambold;
}

.btn-close:hover::after {
    display: block;
    content: '';
    width: 100;
    height: 2px;
    background: #ff8200;
    position: relative;
    bottom: -14px;
    left: 0;
}

#mainbanner {
    color: #fff;
    background-color: #ff8200;
    font-size: 14px;
}

#mainbanner :visited {
    color: #fff;
}

#mainbanner :hover {
    text-decoration: underline;
}

#chevico {
    fill: #fff;
    width: 11px;
    height: 11px;
    margin-bottom: 1px;
}
/*------*/

body {
    padding-top: 100px;
    background-color: aqua !important;
}

/*---footer---*/
footer {
    background-color: #004c97;
    color: #fff;
}

footer > section {
    padding: 10px 0;
}

.socialico {
    fill: #fff;
    width: 16px;
    height: 16px;
}

#socials :hover {
    text-decoration: none;
}

#socials li {
    display: inline;
}

#storecall {
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 6px;
}

#storecall > .footcnt {
    color: #ff8200;
}

#cpyright {
    font-size: 10px;
    position: relative;
    transform: translate(0, 75%);
}

#footend ul {
    padding: 0;
    margin: 0;
}

#footend li {
    display: inline-block;
    color: #ffffff94;
    text-decoration: underline;
    padding: 0 10px 3px 0;
}
/*---end of footer---*/


.color {color: #004c97 !important;}

.topup {color: #ff3381 !important;}




#globalselector a:hover { font-weight: bolder;}

.globaltopnavselect {color: #fff !important;}

.topup :link {color: #ff3381 !important;}
.topup :visited {color: #ff3381 !important;}
.topup :hover {color: #004c97 !important;}

#navbarSupportedContent {height: 102vh;}
#navbarSupportedContent {width: 85vw;}



.globalfooternav a{color: #fff;}
.globalfooternav a:hover {color: #fff; text-decoration: underline;}





/*---svg styles---*/






/*---end of svg styles---*/

/*---external images---*/


.footerlogo {
    content: url(../images/GTT-logo-white.png);
    width: 57px;
    height: 45px;
}
/*---end of external images---*/


/*x-small devices (portrait phones, less than 576px)*/
/*no media query for 'xs' since this is the default in Bootstrap*/

/* small devices (landscape phones 576px and up)*/
@media (min-width: 576x) {
}

/*medium devices (tablets , 768px and up)*/
@media (min-width: 768px) {
}

/*large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .color:hover::after {
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #ff8200;
        position: relative;
        bottom: 0;
        left: 0;
       }

       .gttlogocolour {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
       }
}


/*x-large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/*xx-large devices (larger desktops -and tv's- , 1400px and up)*/
@media (min-width: 1400px) {
}

/*---template for adding images using css---
[#id or .class] {
    background-image: url("[link-to-image]");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: [set];
    height: [set];
}*/
